/* Crypto */
.icon-crypto {
  fill: #ffb300;
}

/* Finance */
.icon-finance {
  fill: #1976d2;
}

/* News */
.icon-news {
  fill: #616161;
}

/* Alternative News */
.icon-altnews {
  fill: #673ab7;
}

/* AWS */
.icon-aws {
  fill: #fb8c00;
}

/* Spring */
.icon-spring {
  fill: #2e7d32;
}

/* Java */
.icon-java {
  fill: #6d4c41;
}

/* React */
.icon-react {
  fill: #00897b;
}

/* Sports */
.icon-sports {
  fill: #43a047;
}
